In [2]:
#importera paket
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as scs 
    
# Importera Palmer Penguins
filepath = '../data/penguins.csv'
penguins = pd.read_csv(filepath)
penguins = penguins.dropna() # Plocka bort rader som innehåller NaN

In [3]:
penguins.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,male,2007
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007

<h3>Exempel: Konfidensintervall för medelvärde</h3>
<strong> Konstruera ett 95% konfidensintervall för medelvikten hos pingviner av arten 'Adelie'.</strong>

Eftersom $\sigma$ är okänd kommer vi behöva använda oss av t-statistika. Den beräknas enligt följande formel: 
<h3>${\bar x}\pm t_{\alpha/2}\frac{s}{\sqrt{n}}$</h3>
Vi börjar med att importera vårt t-fördelningspaket ur SciPy, och sedan subsetta vår datamängd så vi har det vi är intresserade av, Adelie-pingviner.

In [4]:
from scipy.stats import t

Adelie = penguins[penguins["species"] == "Adelie"]

Sedan kan vi med hjälp av funktioner vi redan är bekanta med enkelt räkna ut värdet på vår t-statistika. Vi kan sedan konstruera själva konfidensintervallet genom att lägga till och dra från statistikans värde från vårt stickprovsmedelvärde.

In [10]:
mean = np.mean(Adelie["body_mass_g"])
std = np.std(Adelie["body_mass_g"], ddof=1)
n = len(Adelie["body_mass_g"])

alpha = 0.05
t_crit = t.ppf(1-alpha/2, n-1)
sem = std/np.sqrt(n)

lower_lim = mean - t_crit * sem
upper_lim = mean + t_crit * sem

In [11]:
round(lower_lim, 1), round(upper_lim, 1)

(3631.1, 3781.2)

<strong>Men, istället för att krångla till det med massa explicita beräkningar så kan vi använda oss av inbyggda funktioner i SciPy.</strong> SciPys t-modul har en schysst funktion för beräkning av konfidensintervall som heter interval(). Vi ger den helt enkelt vårt önskade konfidens (0.95, eller 1-alpha), antalet frihetsgrader, stickprovsmedelvärde, samt stickprovets standard error. Notera här att det är standard error ($s/\sqrt{n}$) som skall anges, och inte standardavvikelse ($s$). Standard error kan vi räkna ut m.h.a. funktionen <code>sem()</code> i SciPy.

In [ ]:
sem = scs.sem(Adelie["body_mass_g"])

upper_lim, lower_lim = t.interval(confidence=1-alpha, df=n-1, loc=mean, scale=sem)

print("")